<div class="row mt-3">
  <div class="row col-12">
    <h4 class="mb-3">商品編集</h4>
  </div>
  <%= render "layouts/errors", obj: @item %>
  <div class="row col-12">
    <div class="col-3"></div>
    <%= form_with model: @item, url: admin_item_path(@item), class: "col-5 mb-5" do |f| %>
      <div class="form-group row">
        <%= f.label :item_image, "商品画像", class: "col-4" %>
        <%= f.file_field :item_image, accept: "image/*", class: "col-8 pl-0" %>
      </div>
      <div class="form-group row">
        <%= f.label :item_name, "商品名", class: "col-4" %>
        <%= f.text_field :item_name, placeholder: "商品名", class: "col-8" %>
      </div>
      <div class="form-group row">
        <%= f.label :item_body, "商品説明", class: "col-4" %>
        <%= f.text_area :item_body, rows: "5", placeholder: "ここに説明文を記述します", class: "col-8" %>
      </div>
      <div class="form-group row">
        <%= f.label :genre_id, "ジャンル", class: "col-4" %>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name), {}, {class: "col-8 select"} %>
      </div>
      <div class="form-group row">
        <%= f.label :none_taxed_price, "税抜価格", class: "col-4" %>
        <%= f.text_field :none_taxed_price, placeholder: "1000", class: "col-7" %>
        <span class="d-flex align-items-center ml-1">円</span>
      </div>
      <div class="form-group row">
        <%= f.label :sale_status, "販売ステータス", class: "col-4" %>
        <%= f.radio_button :sale_status, true, class: "mr-1" %>
        <%= f.label :sale_status, "販売中", class: "mr-5 d-flex align-items-center mb-0" %>
        <%= f.radio_button :sale_status, false, class: "mr-1" %>
        <%= f.label :sale_status, "販売停止中", class: "mr-5 d-flex align-items-center mb-0" %>
      </div>
      <div class="form-group text-center">
        <%= f.submit "変更を保存", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>