<div class="row mt-3">
  <div class="col-lg-12 mx-auto">
    <div class="row">
      <h4 class="col-11 mb-3">商品一覧</h4>
      <%= link_to new_admin_item_path do %>
        <div class="new-btn">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </div>
    <table class="table table-hover table-borderless">
      <thead>
        <tr class="table-active">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.item_name, admin_item_path(item), class: "text-dark text-decoration-none  border-bottom border-dark" %></td>
            <td><%= number_with_delimiter item.none_taxed_price %></td>
            <td><%= item.genre.genre_name %></td>
            <th><%= render "sale_status", item: item %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= paginate @items %>
    </div>
  </div>
</div>
