<div class="row mt-3">
  <div class="col-12">
    <h4 class="mb-3"><strong><%= @customer.last_name + @customer.first_name %></strong> さんの<strong>注文履歴</strong></h4>
    <table class="table table-hover">
      <thead class="table-active">
        <tr>
          <th></th>
          <th>購入日時</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td></td>
            <td><%= order.created_at.strftime("%Y/%m/%d/ %H:%M:%S") %></td>
            <td>
              <% total_amount = 0 %>
              <% order.order_items.each do |order_items| %>
                <% amounts = order_items.amount %>
                <% total_amount += amounts %>
              <% end %>
              <%= total_amount %>
            </td>
            <td><%= order.order_status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= paginate @orders %>
    </div>
  </div>
</div>
