    <div class="row d-flex mt-3">
    <div class="col-lg-2">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div class="col-lg-10">
      <div class="d-flex">
        <h3>商品一覧</h3>
        <h4 class="mt-2">(全<%= @items.count %>件)</h4>
      </div>
      <div class="d-flex flex-lg-wrap items_width">
        <% @items.each do |item| %>
          <div class="pr-3">
            <%= link_to item_path(item)  do %>
              <%= image_tag item.get_image(200, 200) %>
            <% end %>
            <h6 class="mt-1"><%= item.name %></h6>
            <h6 class="mb-4">¥<%= number_with_delimiter item.price %></h6>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">

  </div>